<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="./assets/images/a_new_logo.jpg" alt="" class="img-fluid" >
      <a class="navbar-brand" href="#">Mindfire Solutions</a>
      
      <!-- to add options in nav bar -->
      <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
